.comparisoin-main {
    display: flex;
    flex-direction: row;
}

.comparisoin-main>div {
    flex: 1;
    border: 1px solid black;
    padding: 20px;
    height: 500px;
}


.cost-sum {
    display: flex;
    flex-direction: row;
}

.cost-elements {
    flex: 1;
}